<!DOCTYPE HTML>

<html>
	<head>
		<title>YOUNG HO, CHUN</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<!-- <body class="is-preload" onLoad="slide('change-image',arr);" > -->
	<body onLoad="slide('change-image',arr);" >

		<!-- Wrapper -->
			<div id="wrapper" class="divided">


				<!-- Nav -->
				 <nav id="nav">
					 <h1 id="logo">
	 					<a href="index.html">YOUNG HO CHUN</a>
	 				</h1>
					<a href="#work" >Work</a>
					<a href="#contact" >Contact</a>
				</nav>

<!-- Main -->
				<!-- </div> -->
				<!-- Main -->
				<div id="main">
				<!-- One -->
					<article id="me" class="panel">
						<header>
											<h1>Detail Page - Title</h1>
											<p>Description</p>
						</header>
						<section>
							<div class="row front-image">
								<img id="change-image" />
							</div>
						</section>
				</article>


				</div>

			</div>

			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>



	</body>
</html>
